#container {
   background-color: black;
   width: 600px;
   margin: 0 auto;
   display:flex;
    align-items: center;
   justify-content: space-between;
}

#container>div {
   height: 100px;
   width: 100px;

   background-color: aquamarine;
   transition: all .2s linear;
   align-items: center;
}

#container>div:nth-child(2) {
   background-color: deeppink;
   height: 50px;

}

#container>div:hover {
   background-color: blueviolet;

}
