html,body{
    height: 100%;
    
}
#container{
    
    display:grid;
    max-width: 400px;
    min-height: 300px;
    width: 90%;
    height: 70%;
    background-color:pink;
    margin:20px auto 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 3px;
    padding: 3px;
    border: 3px solid black;
   
    

}
#container div{
    
    display: flex;
    border:3px solid black;
    justify-content: center;
    align-items:  center;
    

    

}
#container>div:hover{
    
    background: white;

}