html,body{
    height: 100%;
}
#container{

    display:grid;
max-width: 300px;
min-height: 400px;
    width: 90%;
    height: 70%;
    background-color: rgb(54, 41, 165);
    margin:20px auto 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 3px;
    padding: 3px;


}
#container>div:hover{

background: aquamarine;

}